<app-header></app-header>

<section class="section-freelas">
    <div class="container">

        <h1>Perfil
            <!--a routerLink="/register/registro-freelancer/{{contentArray[0]?.ID}}" class="btn"><img src="assets/icons/edit.svg"></a-->
        </h1>

        <div class="row">
            <div class="col-lg-12">
                <div class="card card-profile">
                    <div class="profile-header">
                        <div class="left-infos">
                            <a href="javascript:void(0);" class="box-avatar">
                                <img
                                    src="{{contentArray[0]?.avatar !== 'undefined' && contentArray[0]?.avatar !== null ? contentArray[0]?.avatar : 'assets/imgs/user-empty.svg'}}">
                            </a>
                            <div class="wrap-texts">
                                <h2>{{contentArray[0]?.nomeSocial}}</h2>
                                <p>{{contentArray[0]?.profissao}}</p>
                                <p>Bairro: {{contentArray[0]?.bairro}}</p>
                                <p>{{contentArray[0]?.cidade}}, {{contentArray[0]?.uf}}- Brasil</p>
                                <p>{{contentArray[0]?.email}}</p>
                                <div class="d-flex align-items-center justify-content-center mt-2 gap-2">
                                    <p *ngIf="contentArray[0]?.formatoAtendimento === 'p' || contentArray[0]?.formatoAtendimento === 'po'" class="tag presencial">
                                        <i class='bx bx-user-voice'></i> 
                                        Presencial
                                    </p>
                                    <p *ngIf="contentArray[0]?.formatoAtendimento === 'o' || contentArray[0]?.formatoAtendimento === 'po'"  class="tag distancia">
                                        <i class='bx bx-webcam'></i> 
                                        À distância
                                    </p>
                                </div>
                            </div>
                            
                        </div>

                        <div class="flex-portifolio">
                            <a class="nav-link nav-link-whats"
                                href="https://api.whatsapp.com/send?l=pt&phone=55{{contentArray[0]?.celular}}&text=Olá, encontrei seu contato no site Yoni das pretas e queria mais informações"
                                target="_blank"><i class='bx bxl-whatsapp'></i> Entre em
                                contato</a>

                            <a *ngIf="contentArray[0]?.linkInstagram" class="nav-link" href="{{contentArray[0]?.linkInstagram}}" target="_blank"><i
                                    class='bx bxl-instagram'></i></a>
                            <a *ngIf="contentArray[0]?.linkFacebook" class="nav-link" href="{{contentArray[0]?.linkFacebook}}" target="_blank"><i
                                    class='bx bxl-facebook'></i></a>
                            <a *ngIf="contentArray[0]?.linkLinkedin" class="nav-link" href="{{contentArray[0]?.linkLinkedin}}" target="_blank"><i
                                    class='bx bxl-linkedin'></i></a>
                        </div>
                    </div>
                </div>

                <div class="card card-content">
                    <h3>Sobre mim</h3>
                    <p>{{contentArray[0]?.descricaoCompleta}}</p>

                </div>

                <div class="card card-content products">
                    <h3>Principais serviços</h3>
                    <div class="row">
                        <div class="col-lg-2 mb-4" *ngFor="let s of contentArray[0]?.produtosServicos">
                            <div class="card">
                                <div class="box-image">
                                    <img src="{{s.imagem}}">
                                </div>
                                <h4>{{s.titulo}}</h4>
                                <p>{{s.descricao}}</p>
                                <p class="price">{{s.valor | currency: 'BRL'}}</p>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>