.section-myaccount {
    background-color: #f9f9f9;
    padding-top: 50px;

    h1 {
        margin-bottom: 50px;
        color: #a24337;
        font-size: 25px;
    }

    form {
        .avatar {
            width: 200px;
            height: 200px;
            margin: 0 auto 10px;
            border-radius: 50%;
            overflow: hidden;
            border: 4px solid #a24337;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .label-form {
            border: 1px solid #a24437;
            padding: 30px;
            border-radius: 20px;
            position: relative;
            margin-bottom: 30px;

            span.title-label {
                position: absolute;
                top: -13px;
                padding: 0 10px;
                background-color: #f9f9f9;
                color: #a24337;

            }
        }

        .form-group {
            label {
                color: #59272f;
                small{
                    color: #cf4b3a;
                }
                span{
                    color: #888888;
                    font-size: 13px;
                }
            }

            input,
            select,
            textarea {
                box-shadow: none;
                border: 1px solid rgba(49, 30, 32, 0.363);
                resize: none;
                border-radius: 15px;

                &:focus {
                    border: 1px solid #a24337;
                }
            }
            input[type="file"] {
                padding-top: 10px;
                padding-bottom: 10px;
            }

            select {
                height: 44px;
            }

            .breve {
                height: 90px;

            }

            .completa {
                height: 180px;
            }
            p{
                text-align: right;
                font-size: 14px;
                color: #888888;
            }
        }

        button {
            &.btn-adicionar {
                display: flex;
                align-items: center;
                color: #a24337;
                border: 1px solid #a24337;
            }

            &.btn-salvar {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;
                background-color: #a24337;
                color: #ffffff;
                width: 145px;
                float: right;
                i{
                    font-size: 25px;
                }
            }

        }

        .wrap-servicos {
            .card {
                border-radius: 15px;
                .flex-card {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    .imagem {
                        width: 150px;
                        height: 140px;
                        overflow: hidden;
                        border-top-left-radius: 15px;
                        border-bottom-left-radius: 15px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .textos {
                        width: 80%;

                        .card-body {
                            padding: 0;

                            h5 {
                                color: #59272f;
                                margin-top: 8px;
                            }

                            p {
                                margin-bottom: 5px;
                            }
                        }
                    }

                    .acoes {
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        width: 100px;
                        i {
                            font-size: 25px;
                            color: #9e9e9e;

                            &:hover {
                                cursor: pointer;
                                color: #ce445b;
                            }
                            &.bx-edit{
                                &:hover {
                                    color: #ce9244;
                                }
                            }

                        }
                    }
                }
            }
        }

    }

}
p.info{
    margin: 0;
    text-align: center;
    color: #888888;
    font-size: 14px;
}
.custom-select-profissao{
    position: relative;
    i{
        cursor: pointer;
        position: absolute;
        font-size: 20px;
        right: 10px;
        top: 13px;
        z-index: 99;
    }
}

/* ============= MOBILE =================*/
@media (max-width: 768px) {
    .w-50, .w-25, .w-75 {
        width: 100% !important;
    }
}
