<div class="wrapper-sidebar" [ngClass]="{'toggled': toggled}">
    <nav class="navigation">
        <ul id="accordion" class="accordion">
            <li *ngFor="let menu of menus; let i = index" [class.active]="menu.active">
              <a *ngIf="menu.url !== '#'"
              [routerLink]="menu.url" 
              routerLinkActive="activeRouter" 
              [routerLinkActiveOptions]="{exact: true}" 
              class="menu nav-link" 
              (click)="menu.levelTwo ? toggleMenu(i) : toggleSidebar()"
              >
              <i id="icon-left-menu" [class]="menu.iconClass" (click)="toggleSidebar()"></i>
                <span>{{ menu.name }}</span>
                <i *ngIf="menu.levelTwo" class='bx bx-chevron-down bx-sm'></i>
              </a>
              <a *ngIf="menu.url == '#'"
              href="javascript:void(0);" 
              routerLinkActive="activeRouter" 
              [routerLinkActiveOptions]="{exact: true}" 
              class="menu nav-link" 
              (click)="menu.levelTwo ? toggleMenu(i) : toggleSidebar()"
              >
                <i id="icon-left-menu" [class]="menu.iconClass" (click)="toggleSidebar()"></i>
                <span>{{ menu.name }}</span>
                <i *ngIf="menu.levelTwo" class='bx bx-chevron-down bx-sm'></i>
              </a>
              <ul *ngIf="!toggled" class="submenu" #submenu [style.height.px]="menu.active ? submenu.scrollHeight : 0">
                <li *ngFor="let submenu of menu.levelTwo">
                  <a 
                  [routerLink]="submenu.url" 
                  routerLinkActive="activeRouter" 
                  [routerLinkActiveOptions]="{exact: true}" 
                  class="menu nav-link" 
                  (click)="toggleSidebar()"
                  >{{ submenu.name }}</a>
                </li>
              </ul>
            </li>
          </ul>
    </nav>
  </div>
  
  

