.section-freelas {
    .bg-topo {
        background: url('^assets/imgs/bg-topo.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 15px;
        height: 350px;
        margin-bottom: 30px;
        position: relative;
        z-index: 1;

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            border-radius: 15px;
            display: block;
            background: rgba(162, 67, 55, 0.75);
        }

        img.logo-rizoma {
            width: 320px;
            margin: 20px auto 60px;
            top: 25px;
            display: block;
            z-index: 2;
            position: relative;
        }

        h1 {
            position: relative;
            z-index: 2;
            text-align: center;
            color: #ffffff;
            font-size: 28px;
            font-style: italic;
        }

        a.nav-link {
            font-style: italic;
            position: relative;
            z-index: 2;
            margin: auto;
            display: block;
            text-align: center;
            color: #ffffff;
            background-color: #a24337;
            width: 160px;
            padding: 8px 10px;
            font-size: 25px;
            font-weight: 500;
            border-radius: 5px;

            &:hover {
                background-color: #59272f;
            }

            &.mobile {
                display: none;
            }
        }
    }

    .description {
        .texts {
            height: 45px;
            overflow: hidden;
            &.expanded {
                height: 100%;
            }

            h2 {
                font-size: 20px;
            }
        }

        button.btn {
            outline: none !important;
            box-shadow: none !important;
            border: none !important;
            margin-left: 340px;
            margin-top: -45px;
            color: #59272f;
            text-decoration: underline;
            &.expanded {
                margin-left: 260px;
                margin-top: -83px;
            }
        }

       
    }

    a.nav-link.voltar {
        display: flex;
        align-items: center;

        i {
            font-size: 25px;
            position: relative;
            top: 1px;
        }

        &:hover {
            color: #a24337;
        }
    }



    .card-profile {
        min-height: 460px;

        .profile-bottom {
            margin-top: 30px;

            h3 {
                color: #a24337;
                font-weight: 600;
                font-size: 18px;
                margin-bottom: 20px;
            }

            p {
                color: rgba(64, 64, 64, 0.87);
                font-size: 16px;
                text-align: justify;
                font-weight: 400;
                margin: 0;
            }
        }
    }

    .bg-filter {
        background-color: #a24337;
        border-radius: 15px;
        padding: 30px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        margin-bottom: 30px;
        box-shadow: 0px 2px 15px 0px #71321234;

        .col-filter {
            width: 25%;
            position: relative;

            &:last-child {
                width: 18%;
            }

            i {
                position: absolute;
                top: 13px;
                right: 10px;
                font-size: 20px;
                cursor: pointer;
            }

        }

        button {
            background-color: #fcdfdf;
            float: right;
            height: 45px;
            width: 100%;
            border-radius: 15px;
            color: #59272f;

            &:hover {
                background-color: #f7cece;
            }
        }
    }

}

.wrap-search {
    position: relative;

    i {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 20px;
        cursor: pointer;
    }
}

.card {
    border: none;
    border-radius: 16px;
    box-shadow: 0px 2px 15px 0px #71321234;

    &.card-profile {
        padding: 20px 30px;
        margin-bottom: 25px;

        .profile-header {
            display: flex;
            align-items: center;

            .box-avatar {
                width: 190px;
                height: 190px;
                min-width: 190px;
                overflow: hidden;
                border-radius: 50%;
                border: 6px solid #a24337;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .wrap-texts {
                padding-left: 40px;

                h2 {
                    font-size: 25px;
                    color: #a24337;
                    font-weight: 800;

                    i {
                        position: relative;
                        top: 4px;
                        left: 5px;
                    }
                }

                p {
                    font-size: 15px;
                    font-weight: 400;
                    color: rgba(64, 64, 64, 0.87);
                    margin: 0;
                }

                .socials {
                    display: flex;
                    gap: 10px;
                    margin-top: 8px;

                    .nav-link {
                        i {
                            font-size: 22px;
                            color: #a24337;
                        }
                    }

                }
            }
        }
    }
}

.btn-show-more {
    background-color: #a24337;
    color: #fcdfdf;
    width: 200px;
    margin: 20px auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

/* ============= MOBILE =================*/
@media (max-width: 1399px) {
    .section-freelas{
        .description{
            button.btn{
                margin-left: 485px;
                &.expanded{
                    margin-left: 410px;
                }
            }
        } 
    } 
}
@media (max-width: 1199px) {
    .section-freelas{
        .description{
            button.btn{
                margin-left: 670px;
                &.expanded{
                    margin-left: 610px;
                }
            }
        } 
    } 
}
@media (max-width: 768px) {
    .section-freelas {
        .bg-topo {
            background: transparent;
            height: 270px;

            img.logo-rizoma {
                width: 280px;
            }

            &:after {
                display: none;
            }

            .desktop,
            .nav-link {
                &.desktop {
                    display: none;
                }

                &.mobile {
                    width: 90%;
                    font-size: 17px;
                    line-height: 20px;
                    border-radius: 10px;
                    display: block !important;
                }
            }
        }
        .description{
            .texts{
                width: 100%;
                text-align: center;
            }
            button.btn,
            button.btn.expanded{
                margin: 0 auto 30px;
                display: block;
            }
        }

        margin-top: 90px;

        input {
            margin-bottom: 10px;
        }

        .bg-filter {
            flex-direction: column;
            padding: 20px 15px;

            .col-filter,
            .col-filter:last-child {
                width: 100%;
            }

            input.form-control {
                margin-bottom: 0 !important;
                height: 40px !important;
            }
        }

        .card-profile {
            padding: 15px;
            height: auto;

            .profile-header {
                .box-avatar {
                    width: 90px;
                    height: 90px;
                    min-width: 90px;
                }

                .wrap-texts {
                    padding-left: 20px;
                    word-break: break-word;

                    p {
                        font-size: 14px !important;
                    }

                    p.tag {
                        font-size: 10px !important;
                    }
                }
            }
        }
    }
}