<div class="card">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th *ngFor="let key of colData">{{ key.header }}</th>
                    <th *ngIf="actions">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let record of gridData; let i = index">
                    <td *ngFor="let key of colData">
                        <img *ngIf="key.field === 'nomeSocial'" class="avatar rounded-circle" 
                        src="{{record.avatar !== 'undefined'? record.avatar : 'assets/imgs/user-empty.svg'}}">
                        <span>{{ record[key.field]}}</span>
                    </td>
                    <td *ngIf="actions && typeTable === 'cadastrados'">
                        <i class='bx bx-windows' tooltip="Ver respostas" placement="top" delay="300"  (click)="detailsBtnRespostas($event, i, record)"></i>
                        <i class='bx bx-paperclip bx-rotate-270' tooltip="Baixar anexo" placement="top" delay="300" (click)="downloadFileBtn(record)"></i>
                        <i class='bx bx-user-check' tooltip="Aprovar" placement="top" delay="300" (click)="updateBtnEvent($event, i, record, 1)"></i>
                        <i class='bx bx-user-x' tooltip="Reprovar" placement="top" delay="300" (click)="updateBtnEvent($event, i, record, 2)"></i>
                    </td>
                    <td *ngIf="actions && typeTable === 'aprovados'">
                        <i class='bx bx-user-pin' tooltip="Ver perfil" placement="top" delay="300" (click)="detailsBtnEvent($event, i, record)"></i>
                        <i class='bx bx-trash'  tooltip="Excluir" placement="top" delay="300" (click)="deleteBtnEvent($event, i, record)"></i>
                    </td>
                    <td *ngIf="actions && typeTable === 'reprovados'">
                        <i class='bx bx-trash'  tooltip="Excluir" placement="top" delay="300" (click)="deleteBtnEvent($event, i, record)"></i>
                    </td>
                    
                </tr>
                <tr *ngIf="gridData?.length === 0">
                    <td class="empty-data" colspan="4">
                        Nenhum registro encontrado
                    </td>
             
                </tr>
            </tbody>
        </table>
    </div>
</div>