<footer>
    <div class="container">
        <div class="footer-row">
            <div class="footer-col">
                <img src="assets/imgs/yoni_das_pretas_logo_preto.png">
            </div>
            <div class="footer-col">
                <p>Enfrentando algum erro? <a class="nav-link" href="https://yonidaspretas.com/suporte">Entre em contato</a></p>
            </div>
        </div>

        <div class="copy">
            2023 © Yoni das pretas - Todos os direitos reservados
        </div>
    </div>
</footer>