<footer>
    <div class="container">
        <div class="footer-row">
            <div class="footer-col">
                <img src="assets/imgs/yoni_das_pretas_logo_preto.png">
            </div>
            <div class="footer-col">
                <p>contato@yonidaspretas.com.br</p>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class='bx bxl-facebook-square'></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class='bx bxl-instagram-alt'></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="copy">
            2023 © Yoni das pretas - Todos os direitos reservados
        </div>
    </div>
</footer>