@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'ngx-toastr/toastr';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import 'assets/boxicons-2.1.4/css/boxicons.min.css';

:root {
    --style-color-bg-1: #f8ebe2;
    --style-color-bg-2: #ebcdb0;
    --style-color-bg-3: #c6a691;

    --bg-primary-color: #29568F;
    --bg-secondary-color: #D6FE00;
    --bg-white-color: #ffffff;
}

body {
    background-color: var(--style-color-bg-1);
}

input.form-control,
select.form-select {
    border: 1px solid transparent;
    box-shadow: 0px 2px 15px 0px #71321234;
    border-radius: 14px;
    height: 45px;

    &:focus {
        box-shadow: 0px 2px 15px 0px #71321234;
        outline: none;
        border: 1px solid #a24337;
    }

    &.is-invalid:focus {
        box-shadow: none;
        outline: none;
        border: 1px solid #d33232;
    }

    &::-webkit-input-placeholder {
        color: #747881;
    }

    &::-moz-placeholder {
        color: #747881;
    }

    &:-ms-input-placeholder {
        color: #747881;
    }

    &:-moz-placeholder {
        color: #747881;
    }

}

.dropdown-menu {
    width: 100%;

    .dropdown-item.active {
        background-color: #f7cece;
        color: #a24337;
    }
}


.tooltip-example {
    text-align: center;
    padding: 0 50px;
}

.tooltip-example [tooltip] {
    display: inline-block;
    margin: 50px 20px;
    width: 180px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 5px;
    line-height: 50px;
    text-align: center;
}

.ng-tooltip {
    position: absolute;
    max-width: 150px;
    font-size: 14px;
    text-align: center;
    color: #f8f8f2;
    padding: 3px 8px;
    background: #282a36;
    border-radius: 4px;
    z-index: 1000;
    opacity: 0;
}

.ng-tooltip:after {
    content: "";
    position: absolute;
    border-style: solid;
}

.ng-tooltip-top:after {
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: black transparent transparent transparent;
}

.ng-tooltip-bottom:after {
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: transparent transparent black transparent;
}

.ng-tooltip-left:after {
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent transparent transparent black;
}

.ng-tooltip-right:after {
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent black transparent transparent;
}

.ng-tooltip-show {
    opacity: 1;
}

.modal-dialog{
    .modal-content{
        border-radius: 16px;
    }
    &.modal-aprovados{
        max-width: 600px;
    }
    &.modal-respostas{
        max-width: 800px;
    }
    &.modal-confirm-delete{
        p{
            text-align: center;
            font-size: 20px;
            color: #311e20c0;
            i{
                font-size: 30px;
                position: relative;
                top: 6px;
                margin-right: 5px;
                color: #d39f02;
            }
        }
    }
}

.content-dashboard{
    h1{
        font-size: 20px;
        font-weight: 400;
        color: #311e20c0;
        margin-bottom: 0px;
    }
    .btn-export{
        background-color: rgb(43, 168, 116);
        color: #ffffff;
        font-size: 12px;
        font-weight: 500;
        width: 150px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        gap: 8px;
        outline: none;
        box-shadow: none;
        transition: all .5s;
        &:focus, &:hover{
            background-color: rgb(36, 139, 97);
            color: #ffffff;
        }
        i{
            font-size: 17px;
        }
    }
}

