<div class="container-modal">
    <div *ngIf="data.titleModal" class="modal-header">
        {{data.titleModal}}
        <i class='bx bx-x' (click)="closeModal()"></i>
    </div>
    <div class="modal-body">
        <ng-container *ngIf="data.modalType === 'RESPOSTAS'">
            <ol class="list-group list-group-numbered">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Nome Completo</div>
                         {{dadosFormulario[0]?.nomeCompleto}}
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Telefone</div>
                        {{dadosFormulario[0]?.celular | mask:"(00) 0 0000-0000"}}
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Gênero</div>
                        {{dadosFormulario[0]?.respostas.resposta1}}
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Faixa Etária</div>
                        {{dadosFormulario[0]?.respostas.resposta2}}
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Raça/Cor</div>
                        {{dadosFormulario[0]?.respostas.resposta3}}
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Estado</div>
                        {{dadosFormulario[0]?.estado}}
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Cidade</div>
                        {{dadosFormulario[0]?.cidade}}
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">País</div>
                        {{dadosFormulario[0]?.pais}}
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Você faz parte de algum território de maioria negra ou indígena (quilombo, favela, comunidade ribeirinha entre outras)?</div>
                        {{dadosFormulario[0]?.respostas.resposta4}}
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Se sim, qual seria o território?</div>
                        {{dadosFormulario[0]?.respostas.resposta5 ? dadosFormulario[0]?.respostas.resposta5 : 'Não informado'}}
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Qual o link do seu Instagram?</div>
                        {{dadosFormulario[0]?.linkInstagram ? dadosFormulario[0]?.linkInstagram : 'Não informado'}}
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Qual o link do seu Facebook?</div>
                        {{dadosFormulario[0]?.linkFacebook ? dadosFormulario[0]?.linkFacebook : 'Não informado'}}
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Qual o link do seu Linkedin?</div>
                        {{dadosFormulario[0]?.linkLinkedin ? dadosFormulario[0]?.linkLinkedin : 'Não informado'}}
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Qual é o sentido de cuidado para você?</div>
                        {{dadosFormulario[0]?.respostas.resposta6}}
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Quando você se percebeu uma pessoa profissional do cuidado para manutenção da saúde?</div>
                        {{dadosFormulario[0]?.respostas.resposta7}}
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Quais são as ciências e tecnologias de cuidado em que você atua enquanto profissional do cuidado para a manutenção da saúde?</div>
                        {{dadosFormulario[0]?.respostas.resposta8}}
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Qual é o perfil de pessoas que você costuma atender?</div>
                        {{dadosFormulario[0]?.respostas.resposta9}}
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Você interage através da prestação serviços para:</div>
                        {{dadosFormulario[0]?.respostas.resposta10}}
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Em qual área do cuidado você atua?</div>
                        {{dadosFormulario[0]?.respostas.resposta11}}
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Descreva com suas palavras sua área e forma de atuação como profissional do cuidado:</div>
                        {{dadosFormulario[0]?.respostas.resposta12}}
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Como seria pra você estar vinculade a uma vitrine de profissionais para que interagentes e pessoas interessadas possam se conectar aos seus serviços, desta vez, unides por uma plataforma em forma de rizoma, onde cada membro representa caules e raízes da grande árvore da vida ? Descreva com suas palavras:</div>
                        {{dadosFormulario[0]?.respostas.resposta13}}
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Como você imagina que a plataforma rizoma pode te nutrir? temos algumas sugestões, acrescente algo caso queira:</div>
                        {{dadosFormulario[0]?.respostas.resposta14}}
                    </div>
                </li>
            </ol>
        </ng-container>

        <ng-container *ngIf="data.modalType === 'CONFIRM_DELETE'">
            <p><i class='bx bx-info-circle'></i> Tem certeza?</p>

            <div class="d-flex align-items-center justify-content-center mt-4 mb-2">
                <button class="btn btn-nao" (click)="closeModal()">Não</button>
                <button class="btn btn-sim" (click)="delete()">Sim</button>
            </div>
        </ng-container>

        <ng-container *ngIf="data.modalType === 'PERFIL_USUARIO'">
            <div class="header-perfil">
                <i class='bx bx-x' (click)="closeModal()"></i>
                <img class="avatar rounded-circle" 
                src="{{data.dadosPerfil.avatar && data.dadosPerfil.avatar !== 'undefined' ? data.dadosPerfil.avatar : 'assets/imgs/user-empty.svg'}}">
                <p class="title">{{data.nomeSocial}}</p>
                <p>{{data.dadosPerfil.email}}</p>
                <p>{{data.dadosPerfil.endereco}}</p>
                <p>{{data.dadosPerfil.profissao}}</p>
                <div class="d-flex align-items-center justify-content-center mt-2 gap-2">
                    <p *ngIf="data.dadosPerfil.formatoAtendimento === 'p' || data.dadosPerfil.formatoAtendimento === 'po'" class="tag presencial">
                        <i class='bx bx-user-voice'></i> 
                        Presencial
                    </p>
                    <p *ngIf="data.dadosPerfil.formatoAtendimento === 'o' || data.dadosPerfil.formatoAtendimento === 'po'"  class="tag distancia">
                        <i class='bx bx-webcam'></i> 
                        À distância
                    </p>
                </div>
            </div>
            <hr>
            <div class="body-perfil">
                <div class="content-texts">
                    <p class="subtitle">Resumo</p>
                    <p>{{data.dadosPerfil.breveDescricao}}</p>
                    
                    <p class="subtitle">Serviços</p>
                    <ul class="list-group list-group-flush">
                        <li *ngFor="let s of data.dadosPerfil.produtosServicos" class="list-group-item">
                            <p>{{s.titulo}}</p>
                            <p>{{s.descricao}}</p>
                            <p class="price">{{s.valor | currency: 'BRL'}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="data.modalType === 'CONFIRMATION'">
      
            <div class="content-confirm">
                <i class='bx bx-x' (click)="closeModal()"></i>
                <i class='bx bxs-check-circle'></i>
                <p>Seu cadastro foi enviado e será avaliado pela nossa equipe em um prazo de até 2 dias úteis. </p>
                <p>Nós acabamos de te enviar um e-mail de confirmação desta solicitação e te enviaremos um 
                    novo e-mail assim que concluirmos a análise dos seus dados. </p>
                   <p> Verifique e acompanhe a sua caixa de entrada para mais informações.
                </p>
                <a class="nav-link" href="https://yonidaspretas.com">Voltar para o site</a>
            </div>
        </ng-container>

        <ng-container *ngIf="data.modalType === 'CADASTRO_SERVICOS' || data.modalType === 'EDITAR_SERVICO'">
            <div class="content-register-service">
                <div class="flex-items">
                    <div class="column-image">
                        <div class="box-image" (click)="fileUploader.click()">
                            <img class="img-upload" [src]="highlightedImage" width="100%"
                                alt="imagem-destacada">
                            <input type="file" #fileUploader accept="image/*" class="form-control" id="avatar"
                                aria-describedby="nome" placeholder="imagem" (change)="showPreviewImage($event)"hidden>
                        </div>
                        <p>Tamanho máximo: 1MB</p>
                    </div>
                   
                    
                    <div class="inputs">
                        <div class="form-group mb-2">
                            <label>Título</label>
                            <input class="form-control" type="text" name="titulo" [(ngModel)]="servicosCliente.titulo">
                        </div>
                        <div class="form-group mb-2 w-75">
                            <label>Valor</label>
                            <input currencyMask class="form-control" type="text" name="valor" [(ngModel)]="servicosCliente.valor" 
                            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                        </div>
                    </div>
                </div>
                
                <div class="form-group mb-2">
                    <label>Descrição</label>
                    <textarea class="form-control" name="descricao" [(ngModel)]="servicosCliente.descricao"></textarea>
                </div>
               
                <button type="button" class="btn btn-add-service" (click)="data.modalType === 'CADASTRO_SERVICOS' ? addService() :  editService()">
                    {{data.modalType === 'CADASTRO_SERVICOS' ? 'Adicionar' : 'Atualizar'}}
                </button>
            </div>
           
        </ng-container>
    </div>
</div>